<div class="container">
	Please log in below. 
	<form action="/sessions" method='POST'>
		<p>Email: <input type="text" name="email"></p>
		<p>Password: <input type="password" name="password"></p>
		<input type="submit" value="Log in!">
	</form>

	New to Flytinerary? Register <a href="/users/new">here.</a> 
</div>